/*****************************************************************************************/
/* 											CSS REMEDY 							   	 */
/*****************************************************************************************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*****************************************************************************************/
/* 											Jouw Styling 							   	 */
/*****************************************************************************************/


/*****************************************************************************************/
/* 											Main elementen 							   	 */
/*****************************************************************************************/

main img:nth-of-type(1){
	height: 50vw;
}

/* sterren rating */
main ul:nth-of-type(1){
	list-style-type: "";

	display: flex;
	flex-direction: row;
	align-items: center;
}

main ul:nth-of-type(1) img{
	width: 2em;
}

/* Zelf sterren invullen */
main ul:nth-of-type(2){
	list-style-type: "";

	display: flex;
	flex-direction: row;
}

main ul:nth-of-type(2) img{
	width: 2em;
}

/*****************************************************************************************/
/* 											Footer		 							   	 */
/*****************************************************************************************/



/*****************************************************************************************/
/* 											Toegankelijkheid		 					 */
/*****************************************************************************************/