/*****************************************************************************************/
/* 											CSS REMEDY 							   	 */
/*****************************************************************************************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*****************************************************************************************/
/* 											Jouw Styling 							   	 */
/*****************************************************************************************/









/*****************************************************************************************/
/* 											Main elementen 							   	 */
/*****************************************************************************************/




/*****************************************************************************************/
/* 											Footer		 							   	 */
/*****************************************************************************************/



/*****************************************************************************************/
/* 											Toegankelijkheid		 					 */
/*****************************************************************************************/