/*****************************************************************************************/
/* 											CSS REMEDY 							   	 */
/*****************************************************************************************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*****************************************************************************************/
/* 											CUSTOM PROPERTIES 						   	 */
/*****************************************************************************************/
:root {
	color-scheme:light dark;
	/* kleur */
	--color-nav-text:#38213A;
	--color-footer-text:#1e1915;
	--color-background:#faf8f6;
	--color-links: #00635d;
	/* tekst */
	--text-LatoRegular: "LatoRegular";
	--text-LatoBold: "LatoBold";
	--text-LatoItalic:"LatoItalic";
	--text-MerriweatherRegular: "MerriweatherRegular";
	--text-MerriweatherBold:"MerriweatherBold";
}


/*****************************************************************************************/
/* 											Fonts		 							   	 */
/*****************************************************************************************/
@font-face {
	font-family:"LatoRegular" ;
	src: url(../fonts/LatoLatin-Regular-1c0bbd257c304f0c439ffca5188bf64d.woff2);
}

@font-face {
	font-family:"LatoBold" ;
	src: url(../fonts/LatoLatin-Bold-68ef13b1d5b140f6454beaf8620f0d00.woff2);
}

@font-face {
	font-family:"LatoItalic" ;
	src: url(../fonts/LatoLatin-Italic-3c16c00fcdb07eb96a6bf4eefa26d1f9.woff2);
}

@font-face {
	font-family:"MerriweatherRegular" ;
	src: url(../fonts/merriweather-regular-gr-01abdd2b4e6be250f29285f7248e978d.woff2)
}

@font-face {
	font-family:"MerriweatherBold" ;
	src: url(../fonts/merriweather-bold-gr-97a99a0fdb5f796fd06d1a1592c6b9fc.woff2);
}




/*****************************************************************************************/
/* 											Jouw Styling 							   	 */
/*****************************************************************************************/




/*****************************************************************************************/
/* 											Header menu 							   	 */
/*****************************************************************************************/






/*****************************************************************************************/
/* 											Main elementen 							   	 */
/*****************************************************************************************/




/*****************************************************************************************/
/* 											Footer		 							   	 */
/*****************************************************************************************/
