/*****************************************************************************************/
/* 											CSS REMEDY 							   	 */
/*****************************************************************************************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*****************************************************************************************/
/* 											Jouw Styling 							   	 */
/*****************************************************************************************/

/*****************************************************************************************/
/* 											Main elementen 							   	 */
/*****************************************************************************************/
main{
    display: grid;
    grid-template-columns: 1fr 10em repeat(3, 1fr);
    grid-template-rows: 2em 32% 3em 25% 12% 23% 2em 2em;
}

main a{
    text-decoration-line: none;
}

main h1{
    font-size: 1.3em;
    grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

main ul{
    list-style-type: none;
    display: flex; 
    margin: 0;   
    padding: 0;
}

main ul li h2{
    font-size: .8em;
    font-family: var(--text-LatoBold);
}

main ul li a{
    font-size: .8em;
}

main form:nth-of-type(1) {
    grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 2;

    display: flex;
    flex-direction: row;
}

main form:nth-of-type(1) input{
    font-size: .6em;
    border: var(--color-inputfield) 1px solid;
    border-radius: .2em;
    width: 9.7em;
    padding: .25em 1.8em .25em .3em;
}

main form:nth-of-type(1) button img{
    width: 1em;
}

/* nummer 1 naast zoek */
main ul:nth-of-type(1){
    gap: 1em;
    grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;

    display: flex;
    flex-wrap: nowrap;
    font-size: .75em;
}
main ul:nth-of-type(1) li{
    display: flex;
    flex-wrap: nowrap;
}
main ul:nth-of-type(1) img{
    width: 1.5em;
}

/* nummer 2 bookshelves */
main ul:nth-of-type(2){
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
main ul:nth-of-type(2) li{
    display: flex;
    flex-wrap: nowrap;

}

/* add to shelf button */
main > button{
    width: 6em;
    height: 2em;

    grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}

/* nummer 3 reading activity */
main ul:nth-of-type(3){
    display: flex;
    flex-direction: column;

    grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}

/* nummer 4 add books */
main ul:nth-of-type(4){
    display: flex;
    flex-direction: column;

    grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 5;
	grid-row-end: 6;
}

/* nummer 5 tools */
main ul:nth-of-type(5){
    display: flex;
    flex-direction: column;

    grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 7;
}

/* nummer 6 boeken */
main ul:nth-of-type(6){
    grid-column-start: 2;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 7;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

main ul:nth-of-type(6) li{
    display: flex;
    justify-content: center;
    align-items: center;
}

main ul:nth-of-type(6) img{
    width: 9.3em;
}

/* forms over boeken grid */
main form:nth-of-type(2){
    grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 7;
	grid-row-end: 8;
}
main form:nth-of-type(2) label{
    font-size: .9em;
    color: var(--color-greytext);
}


main form:nth-of-type(3){
    grid-column-start: 3;
	grid-column-end: -1;
	grid-row-start: 7;
	grid-row-end: 8;

    display: flex;
    flex-direction: row;
}
main form:nth-of-type(3) label{
    font-size: .9em;
    color: var(--color-greytext);
}

/* nummer 7 previous/next */
main ul:nth-of-type(7){
    grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 8;
	grid-row-end: 9;

    display: flex;
    flex-direction: row;
    gap: .2em;
    font-size: .9em;
}

main ul:nth-of-type(7) li:nth-of-type(1) a{
    color: var(--color-previous-text);
}

main ul:nth-of-type(7) li:nth-of-type(2) a{
    color: var(--color-previous-text);
}

/*****************************************************************************************/
/* 											Footer		 							   	 */
/*****************************************************************************************/
